{
  "channelAccessToken": "YOUR_CHANNEL_ACCESS_TOKEN",
  "channelSecret": "YOUR_CHANNEL_SECRET",
  "BASE_URL": "https://your.host.name",
  "PORT": 3000,
  "firebase": {
    "apiKey": "xxxxx",
    "authDomain": "xxxxx",
    "databaseURL": "https://xxxxx.firebaseio.com",
    "projectId": "xxxxx",
    "storageBucket": "",
    "messagingSenderId": "xxxxx",
    "serviceAccountFile": "path/to/firebase-admin-key.json"
  },
  "apiFootball" : {
    "apiKey": "API_FOOTBALL_KEY",
    "leagues": [1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1803] ,
    "startDate": "2018-06-13",
    "endDate": "2018-07-16",
    "url" : "http://apifootball.com/api/"
  }
}